driver/include/*.h eol=lf
driver/scripts/* eol=lf
driver/src/*.c eol=lf
driver/Makefile eol=lf
test/**/*.c eol=lf
test/**/*.py eol=lf
test/**/Makefile eol=lf
installer/* eol=lf
manager/**/*.php eol=lf
manager/scripts/*.js eol=lf
manager/styles/*.css eol=lf
manager/translations/*.xml eol=lf
