report/*.acn
report/*.g*
report/*.idx
report/*.acr
report/*.acn
report/*.sbl
report/*.sym
report/*.log
report/*.tmp
report/*.toc
report/*.out
report/**/*.aux
report/*.bbl
report/*.blg
report/*.ilg
report/*.ind
report/*.lof
report/*.lot
report/*.pdf
report/*.alg
report/*.tps
report/*.ist
