/* Paleta de colores */
/* #cebca5; /* Marrón apagado pálido */
/* #a4917e; /* Marrón apagado claro */
/* #7e6b5d; /* Marrón apagado medio */

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header, nav, footer, header li ul {
    box-shadow: 0 0 5px black;
}

/************************************** Header ************************************************************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    color: #ffffff;
    padding: 0;
    background-color: #7e6b5d; /* Marrón apagado medio */
    z-index: 1;
}

header ul {
    list-style: none;
    position: absolute;
    margin: 0px 16px 0 0;
    padding: 0;
    right: 0;
}

header > ul {
    top: 0;
}

header li {
    width: 56px;
    background-repeat: no-repeat;
    background-position: 16px 16px;
    background-size: 24px 24px;
}

header > ul > li {
    float: left;
}

header li a {
    display: block;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    color: inherit;
}

header li ul {
    margin-right: 0;
}

header li ul li {
    display: none;
    position: relative;
    width: 112px;
    border-top: solid 1px #7e6b5d; /* Marrón apagado medio */
    background-color: #a4917e; /* Marrón apagado claro */
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 12px 12px;
}

header li:hover ul li {
    display: block;
}

header li li:hover {
    background-color: #7e6b5d; /* Marrón apagado medio */
}

header li li:last-child, header li ul {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

header li ul li a {
    height: 28px;
    line-height: 28px;
    padding-left: 28px;
}

#header-control {
    background-image: url(../images/control.png);
}

#header-lang {
    background-image: url(../images/language.png);
}

#header-shutdown {
    background-image: url(../images/shutdown.png);
}

#header-reboot {
    background-image: url(../images/restart.png);
}

/************************************** Navigation ********************************************************************/

nav {
    width: 192px;
    position: fixed;
    top: 56px;
    left: 0;

    height: 100%;
    color: #ffffff;
    background-color: #cebca5; /* Marrón apagado pálido */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: solid 1px #a4917e; /* Marrón apagado claro */
    background-repeat: no-repeat;
    background-position: 20px 12px;
    background-size: 24px 24px;
}

nav li a {
    display: block;
    height: 48px;
    padding-left: 64px;
    text-decoration: none;
    color: inherit;
    line-height: 48px;
}

nav li:hover, nav li.selected {
    background-color: #a4917e; /* Marrón apagado claro */
}

#nav-player {
    background-image: url(../images/player.png);
}

#nav-playlists {
    background-image: url(../images/playlists.png);
}

#nav-remote {
    background-image: url(../images/remote.png);
}

#nav-settings {
    background-image: url(../images/settings.png);
}

/************************************** Section ***********************************************************************/

section {
    padding-top: 56px;
}

section > * {
    overflow: hidden;
}

nav + section {
    padding-left: 192px;
}

section > div {
    box-shadow: 0 0 5px black;
    border-radius: 2px;
    background-color: #cebca5; /* Marrón apagado pálido */
    padding: 8px;
    margin: 8px 16px 0 16px;
}

section > div:last-child {
    margin-bottom: 40px;
}

section > div.dragging {
    background-color: lightgray;
}

section ul {
    list-style: none;
    padding: 0;
    margin: 8px 0 8px 0;
}

section li {
    border-bottom: solid #a4917e 1px; /* Marrón apagado claro */
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
    color: black;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    padding: 0 8px 0 8px;
}

section li.selected, #player-playlist li:hover {
    background-color: #a4917e; /* Marrón apagado claro */
}

section table {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0 8px 0;
}

section tr {
    border-bottom: solid #a4917e 1px; /* Marrón apagado claro */
    cursor: pointer;
    height: 32px;
}

section tr:hover td {
    background-color: #a4917e; /* Marrón apagado claro */
}

section tr:hover td:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

section tr:hover td:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

section td {
    padding: 0 8px 0 8px;
}

/************************************** Footer ************************************************************************/

footer {
    height: 32px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #a4917e; /* Marrón apagado claro */
    text-align: center;
}

footer p {
    margin: 0;
    line-height: 32px;
}

/************************************** Login *************************************************************************/

#login section > div {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 56px;
    right: 0px;
}

#login input {
    margin: 8px;
}

#login input[type="password"] {
    width: 304px;
}

#login form {
    text-align: center;
}

#login {
    height: 100%;
    background-image: url(../images/background-1.jpg);
    background-color: #cebca5; /* Marrón apagado pálido */
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
}

/************************************** Player ************************************************************************/

#player-control {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.player-button {
    width: 48px;
    height: 48px;
    margin: 0 4px 16px 4px;
    border: none;
    border-radius: 50%;
    background-color: #a4917e; /* Marrón apagado claro */
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    outline: none;
}

.player-button:active {
    box-shadow: none;
}

#bt-previuos {
    background-image: url(../images/previuos.png);
}

#bt-play {
    background-image: url(../images/play.png);
}

#bt-pause {
    background-image: url(../images/pause.png);
    display: none;
}

#bt-stop {
    background-image: url(../images/stop.png);
}

#bt-next {
    background-image: url(../images/next.png);
}

/************************************** Playlists *********************************************************************/

a.bt-play {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/play.png);
    background-size: 24px 24px;
}

/************************************** Titles ***********************************************************************/

h1 {
    margin: 0 0 0 200px;
    line-height: 56px;
    font-size: 1.5em;
    max-width: calc(100% - (200px + 8px + 112px + 16px));
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin: 8px 0 8px 0;
    padding: 0 8px 0 8px;
    font-size: 1.5em;
    border-bottom: solid 1px #7e6b5d; /* Marrón apagado medio */
    color: black;
}

h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/************************************** Modales ***********************************************************************/

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,.5);
}

.box {
    position: absolute;
    width: 320px;
    height: 240px;
    top: 50%;
    left: 50%;
    margin: -128px auto auto -168px;
    background-color: #cebca5; /* Marrón apagado pálido */
    box-shadow: 0 0 5px black;
    border-radius: 2px;
    padding: 8px;
}

.box input {
    margin: 8px;
}

.box input[type="text"] {
    width: 256px;
}

.toolbar {
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.toolbar .action {
    margin: 0 8px 8px 0;
}

/************************************** Botones ***********************************************************************/

.action {
    background-color: #a4917e; /* Marrón apagado claro */
    border: none;
    padding: 0 0 0 28px;
    border-radius: 2px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    outline: none;
    height: 24px;
    width: 96px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    text-align: left;
}

.action:active {
    box-shadow: none;
}

h2 .action {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #a4917e; /* Marrón apagado claro */
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 24px;
    top: 84px; /* 56 + 8 + 8 + 8 + 28 - 24 */
}

.bt-add {
    background-image: url(../images/add.png);
}

.bt-ok {
    background-image: url(../images/ok.png);
}

.bt-cancel {
    background-image: url(../images/cancel.png);
}

.bt-enter {
    background-image: url(../images/enter.png);
}

input[type="file"] {
    display: none;
}
