/* Paleta de colores */
/* #cebca5; /* Marrón apagado pálido */
/* #a4917e; /* Marrón apagado claro */
/* #7e6b5d; /* Marrón apagado medio */

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header, nav, footer, header li ul {
    box-shadow: 0 0 5px black;
}

/************************************** Header ************************************************************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    color: #ffffff;
    padding: 0;
    background-color: #7e6b5d; /* Marrón apagado medio */
    z-index: 1;
}

header ul {
    list-style: none;
    position: absolute;
    margin: 0px 16px 0 0;
    padding: 0;
    right: 0;
}

header > ul {
    top: 0;
}

header li {
    width: 56px;
    background-repeat: no-repeat;
    background-position: 16px 16px;
    background-size: 24px 24px;
}

header > ul > li {
    float: left;
}

header li a {
    display: block;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    color: inherit;
}

header li ul {
    margin-right: 0;
}

header li ul li {
    display: none;
    position: relative;
    width: 112px;
    border-top: solid 1px #7e6b5d; /* Marrón apagado medio */
    background-color: #a4917e; /* Marrón apagado claro */
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 12px 12px;
}

header li:hover ul li {
    display: block;
}

header li li:hover {
    background-color: #7e6b5d; /* Marrón apagado medio */
}

header li ul li a {
    height: 28px;
    line-height: 28px;
    padding-left: 28px;
}

#header-control {
    background-image: url(../images/control.png);
}

#header-lang {
    background-image: url(../images/language.png);
}

#header-shutdown {
    background-image: url(../images/shutdown.png);
}

#header-reboot {
    background-image: url(../images/restart.png);
}

/************************************** Navigation ********************************************************************/

nav {
    width: 192px;
    position: fixed;
    top: 56px;
    left: 0;

    height: 100%;
    color: #ffffff;
    background-color: #cebca5; /* Marrón apagado pálido */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: solid 1px #a4917e; /* Marrón apagado claro */
    background-repeat: no-repeat;
    background-position: 20px 12px;
    background-size: 24px 24px;
}

nav li a {
    display: block;
    height: 48px;
    padding-left: 64px;
    text-decoration: none;
    color: inherit;
    line-height: 48px;
}

nav li:hover, nav li.selected {
    background-color: #a4917e; /* Marrón apagado claro */
}

#nav-player {
    background-image: url(../images/player.png);
}

#nav-playlists {
    background-image: url(../images/playlists.png);
}

#nav-remote {
    background-image: url(../images/remote.png);
}

#nav-settings {
    background-image: url(../images/settings.png);
}

/************************************** Section ***********************************************************************/

section {
    padding-top: 56px;
}

section > * {
    overflow: hidden;
}

nav + section {
    padding-left: 192px;
}

/************************************** Footer ************************************************************************/

footer {
    height: 32px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #a4917e; /* Marrón apagado claro */
    text-align: center;
}

footer p {
    margin: 0;
    line-height: 32px;
}

/************************************** Login *************************************************************************/

#login form {
    background-color: #a4917e; /* Marrón apagado claro */
    width: 320px;
    height: 240px;
    margin: 8px auto 0 auto;
    padding: 8px;
    text-align: center;
}

#login input {
    width: 256px;
    height: 24px;
    margin-bottom: 8px;
}

/************************************** Player ************************************************************************/
#player-control, #player-playlist {
    box-shadow: 0 0 5px black;
    border-radius: 2px;
    background-color: #cebca5; /* Marrón apagado pálido */
}

#player-control {
    width: 320px;
    margin: 8px auto 0 auto;
    text-align: center;
}

.player-button {
    width: 48px;
    height: 48px;
    margin: 0 4px 16px 4px;
    border: none;
    border-radius: 50%;
    background-color: #a4917e; /* Marrón apagado claro */
    background-size: 48px 48px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    outline: none;
}

.player-button:active {
    box-shadow: none;
}

#bt-previuos {
    background-image: url(../images/previuos.png);
}

#bt-play {
    background-image: url(../images/play.png);
}

#bt-pause {
    background-image: url(../images/pause.png);
    display: none;
}

#bt-stop {
    background-image: url(../images/stop.png);
}

#bt-next {
    background-image: url(../images/next.png);
}

#player-playlist {
    margin: 8px;
    padding: 8px;
}

#player-playlist ul {
    list-style: none;
    padding: 0;
}

#player-playlist li {
    border-bottom: solid #a4917e 1px; /* Marrón apagado claro */
    padding-left: 8px;
    border-radius: 2px;
}

#player-playlist li a {
    display: block;
    height: 32px;
    line-height: 32px;
    color: black;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#player-playlist li.selected, #player-playlist li:hover {
    background-color: #a4917e; /* Marrón apagado claro */
}

/************************************** Playlists *********************************************************************/

/************************************** Titles ***********************************************************************/

h1 {
    margin: 0 0 0 200px;
    line-height: 56px;
    font-size: 1.5em;
    max-width: calc(100% - (200px + 8px + 112px + 16px));
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin: 0 0 8px 0;
    font-size: 1.5em;
    /*border-bottom: solid 1px #7e6b5d; /* Marrón apagado medio */
    border-bottom: solid 1px white;
    color: white;
}

h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/************************************** Botones ***********************************************************************/

input[type="submit"] {
    background-color: #7e6b5d; /* Marrón apagado medio */
    border: none;
    padding: 0;
    border-radius: 2px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:active {
    box-shadow: none;
}
